<%= render partial: "layouts/merchant_header", locals: {merchant: @merchant} %>

<div class="container px-0">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light" id="invoices"><h3>My Invoices</h3>
        <p></p>
        <% @invoices.each do |invoice| %>
          <p><%= link_to "Invoice ##{invoice.id}", "/merchant/#{@merchant.id}/invoices/#{invoice.id}" %></p>
        <% end %></div>
    </div>
  </div>
</div>
