<%= render "admin/admin_header" %>

<div class="jumbotron">
  <h1 class="display-4">Admin Dashboard</h1><br>
<ul>
  <li><%= link_to 'List of Merchants', admin_merchants_path %></li><br>

  <li><%= link_to 'List of Invoices', admin_invoices_path %></li>
</ul>
</div>
