<h1>Admin Dashboard</h1>

<%= link_to 'List of Merchants', '/admin/merchants' %><br>
<<<<<<< HEAD
<%= link_to 'List of Invoices', 'admin_invoices_path %>
=======
<%= link_to 'List of Invoices', '/admin/invoices' %>
>>>>>>> 715eeadf6c7308da374931f34f094ae670b373a6
