<h1>Admin Merchants Index</h1>

<% @merchants.each do |merchant| %>
  <div id="<%= merchant.id %>">
    <%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %>
    <%= merchant.status %>
    <%= button_to "#{merchant.enable? ? "Disable" : "Enable"}", "/admin/merchants/#{merchant.id}", params: { merchant_id: merchant.id, status: merchant.enable? ? "disable" : "enable", enable: true }, method: :patch %>
  </div>
<% end %>
