<h1><%= @merchant.name %> Items:</h1>

<ul>
  <% @merchant_items.each do |item| %>
  <li><%= link_to "#{item.name}", "/merchant/#{@merchant.id}/items/#{item.item_id}" %>
  </li>
  <% end %>
</ul>
 <!-- merchant_item_path(item) -->
